body {
    background-color: black;
    background-image: url(images/purple_black.png);
    background-repeat: repeat-x;
    color: white;
}

a, a:hover, a:visited{
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px auto 150px;
    padding: 0px;
    align-items: center;
}

.grid-item {
    padding: 0px;
}

p {
    font-size: 125%;
    line-height: 1.25em;
    margin-bottom: 1em;
}

.bread {
    background-color: rgb(255, 255, 255, 0.2);
}

.meat {
    margin-left: 25px;
    margin-right: 25px;
}

img {
    padding: 1px;
}

img.floatLeft { 
    float: left; 
    margin-right: 15px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

img.floatRight { 
    float: right; 
    margin-left: 15px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.nameplate {
    text-align: center;
    padding: 0px;
}

.myname {
    font-size: 400%;
    font-weight: bold;
    margin: 0.0em;
}

.myposition {
    font-size: 125%;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

nav {
    font-size: 125%;
    margin-bottom: 1em;
}

.navi {
  display: inline;
  list-style: none;
  font-weight: bold;
  margin-right: 20px;
}

footer {
    text-align: center;
    margin-top: 2em;
}

.title {
    font-size: 150%;
    font-weight: bold;
}